#title {
    border-radius: 25px;
    border-style: solid;
    border-color: white;
    display: block;
    margin: 0px auto;
    line-height: 3.5vw;
    width: 22vw;
}

.divider {
    border-style: solid;
    border-color: hsl(0, 0%, 81%);
    margin: 0px 2vw;
    border-width: 0.2vw;
    border-radius: 15px;
}

#quote {
    font-weight: 500;
    margin: 1vw;
}

#title-div {
    background: #E60012;
    border-radius: 15px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    text-align: center;
    width: 50vw;
    display: block;
    margin: 3vw auto;
    padding: 2vw;
}

#image {
    display: block;
    margin-top: 4vw;
    margin-right: auto;
    margin-left: auto;
    border: black;
    border-style: solid;
    border-width: 2vw;
    width: 35vw;
}

#img-div {
    background: #393941;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#img-caption {
    padding: 2vw 4vw;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;

    color: white;
}

.flexbox-container {
    display: flex;
    margin: 3vw 5vw;
}

.left-joycon {
    background: #00B3D4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    min-width: 20vw;
    width: 70%;
}

.minus-button {
    border-radius: 5px;
    float: right;
    margin-top: 4vw;
    margin-right: 2vw;
    background: black;
    color: white;
    width: 4vw;
    height: 1vw;
}

.left-analog-stick {
    position: absolute;
    margin-left: 5.5vw;
    margin-top: 8vw;
    border-radius: 50%;
    background-color: black;
    height: 10vw;
    width: 10vw;
}

.left-joycon-buttons {
    margin-top: 25vw;
    flex-direction: column;
}

.up-button {
    display: block;
    margin: auto;
    border-radius: 50%;
    background-color: black;
    height: 4vw;
    width: 4vw;
}

.side-buttons {
    display: block;
    margin-left: 4vw;
    border-radius: 50%;
    background-color: black;
    height: 4vw;
    width: 4vw;
}

.side-buttons::before {
    content: "";
    position: absolute;
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    background-color: black;
    margin-left: 8vw;
}

.down-button {
    display: block;
    margin: auto;
    border-radius: 50%;
    background-color: black;
    height: 4vw;
    width: 4vw;
}

.right-joycon {
    background: #FE574D;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 20vw;
    width: 70%;
}

.plus-button {
    border-radius: 5px;
    float: left;
    margin-left: 2vw;
    margin-top: 4vw;
    background: black;
    color: white;
    width: 4vw;
    height: 1vw;
}

.plus-button::before {
    position: absolute;
    border-radius: 10px;
    margin-left: 1.5vw;
    margin-top: -1.5vw;
    content: '';
    width: 1vw;
    height: 4vw;
    background: black;
}

.right-analog-stick {
    position: absolute;
    margin-left: 5.5vw;
    margin-top: 27vw;
    border-radius: 50%;
    background-color: black;
    height: 10vw;
    width: 10vw;
}

.right-joycon-buttons {
    margin-top: 8vw;
    flex-direction: column;
}